@font-face {
  font-family: 'Source Han Sans SC';
  src: url('@/assets/fonts/SourceHanSansSC-Normal-2.otf');
}

@font-face {
  font-family: 'SF Mono';
  src: url('@/assets/fonts/SF-Mono-Regular.otf');
}

@font-face {
  font-family: 'SF Mono Bold';
  src: url('@/assets/fonts/SF-Mono-Bold.otf');
}