// 主色盘
$normal-color: #fff;
$primary-color: #409EFF;
$success-color: #67C23A;
$warning-color: #E6A23C;
$info-color: #909399;
$danger-color: #F56C6C;

$primary-light-color:#ecf5ff;
$success-light-color:#f0f9eb;
$warning-light-color:#fdf6ec;
$info-light-color:#f4f4f5;
$danger-light-color:#fef0f0;

// 文字颜色
$text-color: #303133;
$regular-text-color: #606266;
$secondary-text-color: #909399;
$placeholder-text-color: #A8ABB2;
$disabled-text-color: #C0C4CC;
$link-color: #2997ff;

// 边框颜色
$border-color: #dcdfe6;
$border-light-color: #E4E7ED;

// 背景色
$background-color: #fff;

// 边框
$border-radius: 2px;
$background-border-radius: 4px;